/* Button used to open the Popup form */
.popup-open-button {
	background-color: #1e2024; /* #555;*/
	color: white;
	padding: 3px 3px;
	border: none;
	cursor: pointer;
	/*bottom: 23px;
	right: 28px;*/
	width: 80px;
}

.add-div {
	
	padding: 0.425rem 0.02rem !important;
}

/* The popup form - hidden by default */
.form-popup {
	/*float: left;*/
	/*margin: 20px;*/
	background-color: rgb(192, 192, 192);
	display: none;
	border: 3px solid #f1f1f1;
	z-index: 9;
	position: absolute;
	/*left: 20%;*/
	/*padding: 10px;*/
}

/* Add styles to the form container */
.form-container {
	max-width: 500px;
	padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text] {
	width: 100%;
	/*padding: 15px;*/
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/* Set a style for the submit/cancel button */
.form-container .btn {
	background-color: white;
	padding: 3px 3px;
	width: 80px;
	margin-right: 20px;
}
