body {
	font-family: 'Open Sans', sans-serif !important;
}

.menu-icontest {
	display:inline-flex
}


.loadingDiv {
	z-index: 99;
	position: absolute;
	top: 0;
	left:-5px;
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.loadingContentDiv {
	position: absolute;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	top: 40%;
	left:45%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.modalClass {
	padding-top: 30px;
	max-height: 300px;
	overflow-y: auto;
}

.selectWrapper {
    max-height: 40px;
    overflow-y: visible;
    z-index: 95;
    position: relative;
    height: 40px;
}

.selectWrapper_video {
	max-height: 40px;
	position: relative;
	overflow-y: visible;
	height: 40px;
}
.selectWrapperChild {
	max-height: 40px;
	overflow-y: visible;
	z-index: 90;
	position: relative;
}

.videoUplaod input, .videoUplaod textarea {
	width: 95%;
	height: 24px;
	display: block;
}
.videoUplaod label{
	margin-top:7px;
}

.videoUplaod  select {
	width: 95%;	
	display: block;
}


.videoUplaod {
	width: 500px;
	padding: 30px;
	background-color: #f1f1f1;
	justify-content: center;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.videoFileUpload::-webkit-file-upload-button { 
	cursor:pointer; 
}
.imageFileUpload::-webkit-file-upload-button { 
	cursor:pointer; 
}

.mainVideoUploadDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

body.authentication-bg {
	background-image: url("../images/login-auth.jpg");
	background-size: cover;
	background-position: center;
}

.login-btn {
	background-color: #0d6efd;
	border-color: #0d6efd;
	border-radius: 0.375rem;
	width: 100%;
	height:30px;
	/*padding: 0.425rem 0.75rem !important;*/
	color: #ffffff !important;
	outline: 0;
	border: 0;
	/*justify-content: center;*/
	/*padding-bottom: 2px !important;*/
}

.login-btn:hover, .login-btn:focus, .login-btn:active {
	background-color: #0d6efd !important;
	border-color: #0d6efd !important;
}

.play-btn {
	background-color: #0d6efd;
	border-color: #0d6efd;
	border-radius: 0.375rem;
	width: 50%;
	height:30px;
	/*padding: 0.425rem 0.75rem !important;*/
	color: #ffffff !important;
	outline: 0;
	border: 0;
	/*justify-content: center;*/
	/*padding-bottom: 2px !important;*/
}

.play-btn:hover, .play-btn:focus, .play-btn:active {
	background-color: #0d6efd !important;
	border-color: transparent !important;
}


.play-btn-begin {
	background-color: #0d6efd;
	border-color: #0d6efd;
	border-radius: 0.375rem;
	width: 50%;
	height:30px;
	/*padding: 0.425rem 0.75rem !important;*/
	color: #ffffff !important;
	outline: 0;
	border: 0;
	/*justify-content: center;*/
	/*padding-bottom: 2px !important;*/
}

.play-btn-begin:hover, .play-btn-begin:focus, .play-btn-begin:active {
	background-color: #0d6efd !important;
	border-color: transparent !important;
}


.btnSubmit {	
	background-color: #0d6efd;
	border-color: #0d6efd;
	border-radius: 0.375rem;
	width: 100%;
	height:30px;
	/*padding: 0.425rem 0.75rem !important;*/
	color: #ffffff !important;
	outline: 0;
	border: 0;
	/*justify-content: center;*/
	/*padding-bottom: 2px !important;*/
}

.btnSubmit:hover, .btnSubmit:focus, .btnSubmit:active {
	/*background-color: #0d6efd !important;
	border-color:#0d6efd !important;*/
	
	background-color: #0d6efd !important;
	border-color: transparent !important;
}

.ht40 {
	height:40px;
}

.search-btn {
	
	background-color: #0d6efd;
	border-color: #0d6efd;
	border-radius: 0.375rem;
	width: 100%;
	height:30px;	
	color: #ffffff !important;
	outline: 0;
	border: 0;
	
}

.search-btn:hover, .search-btn:focus, .search:active {
	background-color: #0d6efd !important;
	border-color: #0d6efd !important;
}

.cardbox-btn {
	background-color: #0f6cbd !important;
	padding: 0.425rem 1.95rem !important;
	color: #ffffff !important;
	outline: 0;
	border: 0;
	border-radius: 0rem !important;
}

.cardbox-btn:hover, .cardbox-btn:focus, .cardbox-btn:active {
	background-color: #0f548c !important;
	border-color: transparent !important;
}

/*
.cardCheckedListBox {
	height: 310px;
	padding: 5px 0px 5px 0px ;
}*/
.scrollAspect {
	max-height: 500px;
	overflow-y: auto;
}
thead {
	border-left:1px solid #111;
	border-right:0.5px solid #111;
}
.gridHeader {
	border-right:1px solid #111;
}

.scrollVideo {
	max-height: 500px;
	overflow-y: auto;
}

.scrollVideoProgress {
	max-height: 500px;
	overflow-y: auto;
}

.scrollProvider {
	max-height: 500px;
	overflow-y: auto;
}

.scrollUser {
	max-height: 500px;
	overflow-y: auto;
}

.scrollConsumerProcess {
	max-height: 750px;
	overflow-y: auto;
}

/*
.cardUserVideosBox{
	height: 310px;
}

.cardUsersBox {
	height: 310px;
}
*/
.homeText {
	color: rgba(242, 244, 246, .9);
	cursor: pointer;
}

.homeimg-card {
	height: 41.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.play-now {
	background-color: #0f6cbd !important;
	padding: 0.225rem 0.75rem !important;
	color: #ffffff !important;
	outline: 0;
	border: 0;
	border-radius: 0rem !important;
	width: 180px;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.play-now:hover, .play-now:focus, .play-now:active {
	background-color: #0f548c !important;
	border-color: transparent !important;
}

.ms-icon {
	font-size: 24px;
	cursor: pointer;
}

.icon-top {
	position: absolute;
	right: 20px;
	top: 20px;
}

.arrow-icon {
	font-size: 32px !important;
}

.homeimg-head {
	font-size: 1.75rem;
	color: #fafbfe !important;
}

.homeimg-paragh {
	font-size: 1rem;
	color: #fafbfe !important;
}

.home-image {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%,
		rgba(255, 255, 255, 0.4009978991596639) 100%, rgba(255, 255, 255, 1)
		100%), url('../videos/amazon/amazon-elephant.jpg');
	/* The image used */
	height: 52.3vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.auth-fcontrol {
	border-radius: 0rem !important;
}

.error-control {
	border: 1px solid #ff1515 !important;
}

body.authentication-bg .account-pages {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}

.login-card {
	-webkit-backdrop-filter: blur(0.625em);
	backdrop-filter: blur(0.625em);
	padding: 0.5rem;
	box-shadow: 0em 0 1.25em 0 rgb(0 0 0/ 50%);
	-webkit-box-shadow: 0em 0 1.25em 0 rgb(0 0 0/ 50%);
	-moz-box-shadow: 0em 0 1.25em 0 rgba(0, 0, 0, 0.5);
}

.home-image img {
	width: 100%;
}

.logo-auth {
	width: 200px;
	cursor: auto;
}

.header-logo {
	width: 100px;
	cursor: pointer;
}
.media-logo {
	color: #ffffff;
	margin: 0;
}

.media-logo:hover {
	cursor: pointer;
}

header#main-header {
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    z-index: 99;
    background-color: #1e2024;
    background-image: linear-gradient(180deg, #1e2024 0, rgba(27, 37, 48, .85));
    min-height: 60px;
}

header#main-header.menu-sticky {
	-webkit-box-shadow: 0em 0em 1.875em 0em rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0em 0em 1.875em 0em rgba(0, 0, 0, 0.4);
	box-shadow: 0em 0em 1.875em 0em rgba(0, 0, 0, 0.4);
}

header#main-header.menu-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #1e2024;
	background-image: linear-gradient(180deg, #1e2024 0, rgba(27, 37, 48, .85));
	-webkit-box-shadow: 0 0 1.875em 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 1.875em 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 1.875em 0 rgba(0, 0, 0, .1);
	z-index: 999;
}

.padding-container {
	padding-right: calc(52px + 1.5625vw) !important;
	padding-left: calc(52px + 1.5625vw) !important;
	max-width: 86%;
}

/** Mozilla Firefox */
/**@-moz-document url-prefix() {
	.padding-container {
		padding-right: calc(52px + 1.5625vw) !important;
		padding-left: calc(52px + 1.5625vw) !important;
		max-width: 85% !important;
	}
}**/
.selectStyle {
	-webkit-appearance: none;
	appearance: none;
	padding: 0.2em;
	/* border: 1px solid #ff8200;
  background-color: #eee;
  border-radius: 3px;
  padding: 0.5em;*/
	/*margin-bottom: 10px;
	margin-top: 10px;
	outline: 0;
	background: #2ecc71;
color: #fff;
border: 1px solid crimson;
padding: 4px;
  border-radius: 9px;*/
}

.margin-Topbottom {
	margin-top: 75px;
	margin-bottom: 15px;
}

.episode-active {
	padding: 8px 0px 8px 0px;
}

.leftNavBox {
	margin-right: -12px;
}

.heading-text {
	font-size: 18px;
}

/* owl theme */
.main-content {
	position: relative;
	width: 101%;
}

/* owl carousel styles  */
.thumbnail {
	position: relative;
	transition: transform .5s;
	aspect-ratio: 16/9;
	overflow: hidden;
}

.thumbnail:hover {
	/* transform: scale(1.08); */
	transform: scale3d(1.08, 1.08, 1) translate3d(0, 0, 0)
		perspective(31.25rem);
	-webkit-transform: scale3d(1.08, 1.08, 1) translate3d(0, 0, 0)
		perspective(31.25rem);
	-moz-transform: scale3d(1.08, 1.08, 1) translate3d(0, 0, 0)
		perspective(31.25rem);
	-o-transform: scale3d(1.08, 1.08, 1) translate3d(0, 0, 0)
		perspective(31.25rem);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	cursor: pointer;
}

.thumbnail:hover .thumbimg-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.22452731092436973)
		0%, rgba(0, 0, 0, 0.05449929971988796) 0%, rgba(2, 0, 36, 1) 100%);
}

.thumbnail:hover .text-block-overlay {
	display: none;
}

.thumbnail:hover .homeplay-icon {
	display: block !important;
}

.thumbnail:hover .thumb-text {
	font-size: 16px;
	font-weight: 500;
}

.thumbnail-img {
	width: 100%;
	height: inherit;
}

.text-block-overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(275deg, rgba(255, 255, 255, 0.22452731092436973)
		65%, rgba(0, 0, 0, 1) 100%, rgba(2, 0, 36, 1) 100%);
}

.homeplay-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50px !important;
}

.thumb-text {
	position: absolute;
	bottom: 25px;
	left: 0;
	padding-left: 7%;
	font-size: 15px;
	color: #ffffff;
}

/* Video player */
.media {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.media::before {
	display: block;
	content: "";
}

.media-video::before {
	padding-top: 56.25%;
}

.video-play {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	box-sizing: border-box;
	color: #fff;
	background-color: #000;
}

/* left thumb small */
.episodes-scroll {
	padding-inline: 6px;
}

.arrowBack {
	position: absolute;
	left: 22%;
}

.sticky {
	border-bottom: none;
}

.sticky .episode-close {
	font-size: 20px;
	color: #c3c3c3;
}

.epiCount {
	font-size: 11px;
}

.episode_list {
	color: rgb(110, 110, 110);
	font-size: 12px;
	padding-left: 0px;
}

.episode_list li {
	margin-block: 6px;
	list-style: none;
}

.episode_list li::marker {
	align-items: center !important;
}

.episode_list img {
	width: 100px;
	aspect-ratio: 16/9;
}

.verticalMenuDots i {
	font-size: 14px;
}

.v-sNo {
	align-self: flex-end;
	padding-right: 5px;
	width: 22px;
	font-size: 14px;
	font-weight: 500;
}

.episd-name {
	font-size: 15px;
}

.seas-item {
	padding: 0px;
	margin: 0px;
}

.seas-item-link {
	font-size: 15px !important;
	padding: 5px 0px !important;
}

.season-scroll {
	border: 0.063rem solid #565656;
}

.session-text {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	width: 100%;
}

.display-none {
	display: none;
}

.li-text {
	font-size: 16px;
	text-align: left;
	cursor: pointer;
	padding: 10px;
}

.list-seas {
	text-decoration: none;
	display: block;
}



.li-text:hover {
	background-color: rgba(70, 70, 70, 0.8);
}

.season-scroll select {
	width: 100%;
	background-color: #242424;
	color: #fff;
	border: 0px;
	outline: 0;
}

/* footer  */
.footerbg-dark {
	background-color: #1e2024;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: block;
}

.company-footer {
	color: #dcdcdc !important;
	font-size: 14px !important;
}

.textwidget {
	text-align: center;
}

.brand-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.brand-img img {
	width: 120px;
}

.carousel-cardmrg {
	margin-top: 1.5rem !important;
}

.carousl-headmrg {
	margin-bottom: 0.7rem !important;
}

.video-modalbody {
	padding: 0px !important;
	overflow-y: hidden !important;
}

.modalClose {
	position: absolute;
	right: -18px;
	top: -18px;
	color: #ffffff !important;
	z-index: 99;
	text-decoration: none;
	cursor: pointer;
}

.modal-fullscreen {
	height: 90% !important;
	margin: 0px auto !important;
	margin-top: 1.5% !important;
}

.modal-fullscreen .modal-content {
	height: 98% !important;
	background-color: #000000 !important;
}

.modal-backdrop {
	opacity: 1 !important;
}

.errorMessage {
	color: orangered;
	font-size: 14px;
	min-height: 30px;;
}

.d-flex {
	display: flex;
	justify-content: end;
}

.regBtn-link {
	text-decoration: none;
	color: #0f6cbd;
	cursor: pointer;
	padding-left: 5px;
}

.regBtn-link:hover {
	color: #00294a;
}
.header-margTop {
    margin-top: 15px !important;
}

.dontText {
	font-size: 14px;
}

.header-right {
	text-align: right;
}
.nav-buttons {
	border-radius:50%;
	background-color: #111;
}
.user-Logintxt {
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
}

.user-Logintxt:hover {
	color: #ffffff;
}

.drop-list {
	font-size: 15px;
}

.drop-list:active {
	background-color: #1c232b !important;
}

.req-field {
	color: #ff0000;
	font-size: 15px;;
}

.header-margin {
 align-items: center;
	
}

.theme-switch {
	text-align: center;
}


.home-link {
    text-decoration: none;
    color: #ffffff;
    padding-left: 5px;
}

.config-div {
	/*font-family: 'Open Sans Condensed', arial, sans;*/
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.configKey, .configValue {
	width: 95%;	
	/*background: #f1f1f1;*/
	margin: 2px 0 8px 0;
}

.providerConfig .btnSubmit {
	background: #f1f1f1;
}

.providerConfig {
	width: 95%;	
	background: #f1f1f1;
	margin: 2px 0 8px 0;
}

.providerConfigg {
	width: 100%; 	
	background: #f1f1f1;
	margin: 2px 0 8px 0;
}

 button.disabled {
     display:none;
}

.owl-prev i, .owl-next i {
	color: #FFF;
}


.owl-prev, .owl-next {	
	position: absolute;
	top: 45%;
    transform: translateY(-45%);
   -webkit-transform: translateY(-45%);
}

.owl-prev {
	left: 7px;
}

.owl-next {
	right: 7px;
}

button:focus, button:active {
   outline: none;
}

.img-text {
    margin-left:15px;
    color: #464646;
    font-size: 16px;
    font-weight: 600;
}

.sesName-text{
	margin-left:15px;
}


    .btn12 {
	 color: #fff;
    background-color: #6d717475;
    border-color: #6c757d;
    border-radius:50%;
    vertical-align: middle;
    display: flex;
	}
.item  img{
	border-radius: 20px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}


.video-p {
	color:#fff;

}

.video-pp {
	color: #fff;
	height:100%;
	position:relative;
}
.video_playbtn {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
	.margin-Topbottom {
		margin-top: 65px;
		margin-bottom: 10px;
	}

.img-wrapper > .content {
  position: absolute;
  padding-left:10px;
  width:350px;
  inset: 0;
  border-radius:20px ;
  background: rgb(38 34 34 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:25px;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 500ms ease-in-out;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper:hover > img.zoom {
  transform: scale(1.15);
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}

.img-wrapper > .content.slide-left {
  transform: translateX(-100%);
}

.img-wrapper:hover > .content.slide-left {
  transform: translateX(0);
}

@media screen and (min-width: 300px) and (max-width: 767.98px) {
	.video-overlay span {
		font-size: 16px !important;
	}
	.modal-fullscreen {
		width: 92vw !important;
	}
	.modalClose {
		font-size: 18px !important;
		top: -8px;
	}
	.video-controls-button {
		font-size: 18px !important;
	}
	.duration-container {
		font-size: 16px;
	}
	.play-back-speed-div {
		font-size: 14px;
	}
	.season-seldrop {
		font-size: 14px;
	}
	.back-button, .back-button-episode {
		font-size: 14px;
	}
	.drop-speed {
		font-size: 14px;
	}
	.footerbg-dark {
		position: fixed;
	}
	.homeimg-head {
		font-size: 1.25rem;
	}
	.homeimg-paragh {
		font-size: 0.825rem;
	}
	.play-now {
		width: 150px;
		font-size: 0.85rem !important;
	}
	.padding-container {
		padding-right: calc(8px + 1.5625vw) !important;
		padding-left: calc(8px + 1.5625vw) !important;
	}
	.play-icon {
		width: 40px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
	.video-overlay span {
		font-size: 20px !important;
	}
	.modal-fullscreen {
		width: 92vw !important;
	}
	.modalClose {
		font-size: 20px !important;
	}
	.video-controls-button {
		font-size: 20px !important;
	}
	.play-back-speed-div {
		font-size: 14px;
	}
	.season-seldrop {
		font-size: 14px;
	}
	.back-button, .back-button-episode {
		font-size: 14px;
	}
	.drop-speed {
		font-size: 14px;
	}
	.homeimg-head {
		font-size: 1.25rem;
	}
	.homeimg-paragh {
		font-size: 0.825rem;
	}
	.play-now {
		width: 160px;
		font-size: 0.85rem !important;
	}
	.padding-container {
		padding-right: calc(16px + 1.5625vw) !important;
		padding-left: calc(16px + 1.5625vw) !important;
	}
	.play-icon {
		width: 40px !important;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
	.seasoncard-heading {
		font-size: 0.9rem;
	}
	.seas-item-link {
		font-size: 13px !important;
	}
	.li-text {
		font-size: 15px;
		padding: 4px 8px;
	}
	.padding-container {
		padding-right: calc(40px + 1.5625vw) !important;
		padding-left: calc(40px + 1.5625vw) !important;
		max-width: 85.2%;
	}
	.margin-Topbottom {
		margin-top: 60px;
		margin-bottom: 10px;
	}
	.media-logo {
		padding-left: 4px;
		font-size: 1.2rem;
	}
	.leftNavBox {
		margin-right: -16px;
	}
	header#main-header {
		min-height: 50px;
	}
	.thumbnail:hover {
		transform: scale(1.05);
	}
	.owl-prev i, .owl-next i {
		font-size: 1.7rem;
		width: 1.9rem;
	}
	.homeplay-icon {
		width: 40px !important;
	}
	.thumbnail:hover .thumb-text {
		font-size: 15px;
	}
	.thumb-text {
		font-size: 14px;
	}
	.heading-text {
		font-size: 16px;
	}
	.arrow-icon {
		font-size: 28px !important;
	}
	.homeimg-head {
		font-size: 1.25rem;
	}
	.homeimg-paragh {
		font-size: 0.825rem;
	}
	.play-now {
		font-size: 0.85rem !important;
	}
	.home-image {
		height: 48.5vh;
	}
	.homeimg-card {
		height: 34.5vh;
	}
	.carousel-cardmrg {
		margin-top: 0.7rem !important;
	}
	.carousl-headmrg {
		margin-bottom: 0.2rem !important;
	}
	.company-footer {
		margin-bottom: 0.8rem;
	}
	.sticky .episode-close {
		font-size: 16px;
	}
	.modal-fullscreen {
		width: 73.5vw !important;
	}
	.play-back-speed-div {
		font-size: 15px;
	}
	.season-seldrop {
		font-size: 15px;
	}
	.back-button, .back-button-episode {
		font-size: 15px;
	}
	.drop-speed {
		font-size: 15px;
	}
	.modalClose {
		font-size: 20px !important;
	}
	.video-overlay span {
		font-size: 20px;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1536px) {
	.media-logo {
		padding-left: 6px;
	}
	header#main-header {
		min-height: 55px;
	}
	.thumbnail:hover {
		transform: scale(1.06);
	}
	.margin-Topbottom {
		margin-top: 65px;
		margin-bottom: 20px;
	}
	.homeplay-icon {
		width: 45px !important;
	}
	.thumbnail:hover .thumb-text {
		font-size: 15px;
	}
	.thumb-text {
		font-size: 14px;
	}
	.heading-text {
		font-size: 17px;
	}
	.arrow-icon {
		font-size: 30px !important;
	}
	.homeimg-head {
		font-size: 1.65rem;
	}
	.homeimg-paragh {
		font-size: 0.9rem;
	}
	.play-now {
		font-size: 0.9rem !important;
	}
	.home-image {
		height: 49vh;
	}
	.homeimg-card {
		height: 35vh;
	}
	.carousl-headmrg {
		margin-bottom: 0.5rem !important;
	}
	.carousel-cardmrg {
		margin-top: 0.9rem !important;
	}
	.modal-fullscreen {
		width: 76.5vw !important;
	}
	.padding-container {
		max-width: 86.8%;
	}
}

@media screen and (min-width: 1537px) {
	.modal-fullscreen {
		width: 80vw !important;
	}
}
.confirm-box {
	background: rgba(0, 0, 0, 0, 5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;

}
.message-box {
	background: #d4cfe1;
	text-align: center;
	font-family: arial;
	font-size: 22px;
	line-height: 1.5;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0, 5);

}
.button-box {
	margin-top: 30px;
}

.yes-button,
.no-button {
	padding: 10px 20px;
	font-size: 16px;
	margin: 0 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.yes-button {
	background: green;
	color: #fff;
}

.no-button {
	background: red;
	color: #fff;
}
.search-btn-playback {
	background-color: #0f6cbd !important;
	width: 100%;
	height:31px;
	margin-top:3px;
	/*padding: 0.125rem 0.75rem 0.125rem 0.75rem!important;*/
	color: #ffffff !important;
	outline: 0;
	border: 0;
	border-radius: 0rem !important;
	
	/*padding top right bottom left */
	
}


.wui-side-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	backface-visibility: hidden;
	z-index: 3;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: webkit-transform 220ms ease-in-out;
	transition: transform 220ms ease-in-out;
}

.menu-menu {
	margin-top: 80px;
}
label  {
	font-weight:400 !important;
}
.wui-side-menu.open {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.wui-side-menu.open~.content .side-menu-trigger {
	display: none;
}

.wui-side-menu.open {
	box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
}

.wui-side-menu .header,
.wui-content-header {

}

.wui-side-menu-pin-trigger,
.wui-side-menu-trigger {
	
}

.wui-side-menu .wui-side-menu-pin-trigger {
	display: none;
	float: right;
}

.wui-side-menu .wui-side-menu-pin-trigger i {
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}

.wui-side-menu .wui-side-menu-items {
	overflow-y: auto;
	height: calc(100% - 50px);
}

.wui-side-menu .wui-side-menu-item {
	display: block;
	width: 100%;
	padding: 15px 12px;
	border-left: 5px solid transparent;
}

.wui-side-menu .wui-side-menu-item {
	height: 50px
}

.wui-side-menu .wui-side-menu-item i.box-ico {
	margin-right: 4px;
}

/* overlay */
.wui-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 0.5;
	display: none;
}

.wui-side-menu.open~.wui-overlay,
.wui-overlay.active {
	display: block;
}

/* content */
.wui-content {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
	padding: 0 10px;
}

.wui-content .wui-side-menu-trigger {
	margin-left: -10px;
}

@media only screen and (min-width:768px) {
	.wui-side-menu .wui-side-menu-pin-trigger {
		display: inline-block;
	}

	.wui-side-menu.open {
		box-shadow: initial;
	}

	.wui-side-menu.open~.wui-overlay {
		display: none;
	}

	.wui-side-menu.open~.wui-content .wui-side-menu-trigger {
		display: none;
	}

	.wui-side-menu.open:not(.pinned)~.wui-overlay {
		display: block;
	}

	.wui-side-menu.open:not(.pinned) {
		box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
	}

	.wui-side-menu.open.pinned~.wui-content {
		left: 280px;
	}
}

ul.wui-side-menu-items {
	list-style: none;
	padding: 0
}

.wui-side-menu {
	background-color: #292e34;
	color: #ddd;
}

.wui-side-menu-item:hover,
.wui-side-menu-pin-trigger:hover {
	color: #fff;
	background-color: #383f45;
}

.wui-side-menu a {
	color: #ccc;
	text-decoration: none
}

.wui-side-menu .wui-side-menu-item.active {
	border-left-color: #158439;
	color: #158439
}

.wui-content a {
	color: #000;
}


/* demo */
body {
	margin: 0;
	font-family: 'arial';
	font-weight: 100;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#events {
	background-color: #ccc;
}

.thumbMovies{
	width:350px !important;
	height:197px !important;
}

.thumbSeries{
	width:350px !important;
	height:197px !important;
}
.thumbnailContainer{
	background-color: #f1f1f1;
	box-sizing: border-box;
	 box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	 width:500px;
	 margin-top:8%;
	 height:400px;
	 padding-top:10px;
	
}
.videoListDiv{
	width:100%;
	padding-left:10px;
}
.videoListDiv label {
	margin-top: 7px;
}

.videoListDiv input, .videoListDiv select {
	width: 95%;
	height:26px;
}
.imageDiv{
	width:50%;
	padding:10px;
}
/*.thumbnailProvider, .thumbnailProviderVideo, .thumbnailImageType{
	margin-bottom:7px;
}
.thumbnailImageUrl{
	margin-bottom:7px;
	
}*/

.thumbnailInfoIcon{
	line-height: 1.2 !important;
	font-size: 20px !important;
	cursor:pointer;
}

.orginalplayervideo-container {

    position: relative;

  }
 
  .video-player {

    width: 100%;

    height: 100%;

  }
 
  .close-button {

    position: absolute;

    top: 10px;

    right: 10px;

    background: transparent;

    border: none;

    cursor: pointer;

    font-size: 20px;

    visibility: hidden;

  }
 
  .orginalplayervideo-container:hover .close-button {

    visibility: visible;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: 0px !important;/* var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);*/
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color: var(--bs-modal-footer-bg);
    border-top:  0px !important; /* var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color); */
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
      select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-right: 10px; 
            padding-left:5px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%230d6efd" width="24" height="24" viewBox="0 0 14 20"><path d="M7 10l5 5 5-5z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 5px center;
            background-color: white;
            border:1px solid #111;
        }

 option:hover {
	background-color: #0d6efd;
	color: rgb(255, 255, 255);
}

.dropdown-item  {
	cursor:pointer !important;
}
.dropdown-item:focus, .dropdown-item:hover {
  	background-color: #0d6efd; 
	color: rgb(255, 255, 255);
}
table tr:not(:last-child) {
	cursor: pointer;
	transition: all .25s ease-in-out;
	}
	table tr:not(:last-child):hover {
	background-color: #ddd;
}